@import "tailwindcss";

@theme inline {
  --color-primary: #014B98;
  --color-primary-light: #144A95;
  --color-secondary: #CB1510;
  --color-accent: #FFF100;
  --color-orange: #E08103;
  --color-dark: #1F2937;
  --color-gray: #6B7280;
  --color-gray-light: #F3F4F6;
  --font-sans: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
